:root {
    --card_width: 420px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_medium: 50;
    --card_large: 65;
}


.navbar {
    background: white
}

#navbar-buttons {
    font-size: larger;
    font-weight:500;
}

#navbar-buttons a {
    border-radius: 3mm;
    background-color: rgb(247, 247, 240);
}

#navbar-buttons a:hover {
    color: white;
    background-color: rgb(59, 137, 246);
}

#navbar-buttons li {
    margin-left: 2rem;
}

#navbar-right .nav-item {
    min-width: 85px;
    text-align: center;
}



.login-button {
    background-color: rgb(255, 59, 59) !important;
    color: white !important;

}

.modal-head {
    text-align: center;
    padding: 20px
}

.modal-logo {
    text-align: center;
    margin-bottom: 20px;
}

.modal-logo .btn-close {
    position: absolute;
    right: 10px
}

.modal-body {
    width: 350px;
    margin-left: auto;
    margin-right: auto
}

.mapbox-map {
    position: relative;
    margin: 0 60px;
    border-radius: 3mm;
    overflow: hidden;
    z-index: 0
}


.sidebar {
    width: 400px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    bottom: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    overflow-x: hidden;
    transition: 0.5s;
}


.review-content {
    padding-top: 10px;
    min-height: 10px;
    font-size: small;
    line-height: 1;
}

.search-bar .dropdown-menu {
    top: 40px;
    left: 0;
    right: 0
}

.pin_container {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;

    background-color: #f9cb60;
}

.pin_container .card {
    position: relative;
    padding: 0;
    margin: 30px 15px 10px;
    border: none;
    border-radius: var(--card_border_radius);
    background-color: white;
    overflow: hidden
}


.pin_container .card_medium {
    grid-row-end: span var(--card_medium);
}

.pin_container .card_large {
    grid-row-end: span var(--card_large);
}

.pin_container .card_large .article-image {
    min-width: 100%;
    position: absolute;
    height: 60%;
    left: 50%;
    transform: translateX(-50%)
}

.pin_container .card_medium .article-image {
    min-width: 100%;
    position: absolute;
    height: 50%;
    left: 50%;
    transform: translateX(-50%)
}

.article-info {
    position: absolute;
    bottom: 0;
    padding: 15px;
}



@media (max-width: 1000px) {
    .mapbox-map {
        margin: 0;
    }

    
}