


.navbar {
    background: white
}

#navbar-buttons {
    font-size: larger;
    font-weight:500;
}

#navbar-buttons a {
    border-radius: 3mm;
    background-color: rgb(247, 247, 240);
}

#navbar-buttons a:hover {
    color: white;
    background-color: rgb(59, 137, 246);
}

#navbar-buttons li {
    margin-left: 2rem;
}

#navbar-right {
    margin-right: 2rem
}

.login-button {
    background-color: rgb(255, 59, 59) !important;
    color: white !important;

}

